<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qihang.dao.ProgrammerDao" >
  <resultMap id="BaseResultMap" type="com.qihang.pojo.Programmer" >
    <id column="p_id" property="pId" jdbcType="VARCHAR" />
    <result column="p_password" property="pPassword" jdbcType="VARCHAR" />
    <result column="p_name" property="pName" jdbcType="VARCHAR" />
    <result column="p_sex" property="pSex" jdbcType="VARCHAR" />
    <result column="p_age" property="pAge" jdbcType="INTEGER" />
    <result column="education" property="education" jdbcType="INTEGER" />
    <result column="p_phone" property="pPhone" jdbcType="VARCHAR" />
    <result column="p_email" property="pEmail" jdbcType="VARCHAR" />
    <result column="hoursalary" property="hoursalary" jdbcType="DECIMAL" />
    <result column="work_field" property="workField" jdbcType="VARCHAR" />
    <result column="work_experience" property="workExperience" jdbcType="INTEGER" />
    <result column="over_score" property="overScore" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    p_id, p_password, p_name, p_sex, p_age, education, p_phone, p_email, hoursalary, work_field,
    work_experience, over_score
  </sql>
  <select id="selectAllProgrammer" resultType="Map">
    select
    <include refid="Base_Column_List" />
    from programmer
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from programmer
    where p_id = #{pId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from programmer
    where p_id = #{pId,jdbcType=VARCHAR}
  </delete>

  <insert id="insertProgrammerSkill">
    INSERT INTO programmerskill(p_id,skill_id,skill_score)
    VALUES (#{pId,jdbcType=VARCHAR}, #{skillId,jdbcType=INTEGER}, #{skillScore,jdbcType=REAL})
  </insert>
  <update id="updateProgrammerSkill">
     update programmerskill
    set skill_score = #{skillScore,jdbcType=REAL}
    where p_id = #{pId,jdbcType=VARCHAR} AND
    skill_id = #{skillId,jdbcType=VARCHAR}
  </update>
  <delete id="skillDelete">
    DELETE FROM programmerskill
    WHERE p_id = #{pId,jdbcType=VARCHAR}
  </delete>
  <select id="selectSkillById" resultType="map">
    SELECT A.p_id,B.skill_id,B.skill_name,A.skill_score
    FROM programmerskill A ,skill B
    WHERE A.p_id = #{pId,jdbcType=VARCHAR} AND A.skill_id = B.skill_id
  </select>


  <insert id="insert" parameterType="com.qihang.pojo.Programmer" >
    insert into programmer (p_id, p_password, p_name, p_sex,
      p_age, education, p_phone, 
      p_email, hoursalary, work_field,
      work_experience, over_score)
    values (#{pId,jdbcType=VARCHAR}, #{pPassword,jdbcType=VARCHAR}, #{pName,jdbcType=VARCHAR}, #{pSex,jdbcType=VARCHAR},
      #{pAge,jdbcType=INTEGER}, #{education,jdbcType=INTEGER}, #{pPhone,jdbcType=VARCHAR}, 
      #{pEmail,jdbcType=VARCHAR}, #{hoursalary,jdbcType=DECIMAL}, #{workField,jdbcType=VARCHAR},
      #{workExperience,jdbcType=INTEGER}, #{overScore,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.qihang.pojo.Programmer" >
    insert into programmer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        p_id,
      </if>
      <if test="pPassword != null" >
        p_password,
      </if>
      <if test="pName != null" >
        p_name,
      </if>
      <if test="pAge != null" >
        p_age,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="pPhone != null" >
        p_phone,
      </if>
      <if test="pEmail != null" >
        p_email,
      </if>
      <if test="hoursalary != null" >
        hoursalary,
      </if>
      <if test="workField != null" >
        work_field,
      </if>
      <if test="workExperience != null" >
        work_experience,
      </if>
      <if test="overScore != null" >
        over_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="pPassword != null" >
        #{pPassword,jdbcType=VARCHAR},
      </if>
      <if test="pName != null" >
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pAge != null" >
        #{pAge,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        #{education,jdbcType=INTEGER},
      </if>
      <if test="pPhone != null" >
        #{pPhone,jdbcType=VARCHAR},
      </if>
      <if test="pEmail != null" >
        #{pEmail,jdbcType=VARCHAR},
      </if>
      <if test="hoursalary != null" >
        #{hoursalary,jdbcType=DECIMAL},
      </if>
      <if test="workField != null" >
        #{workField,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null" >
        #{workExperience,jdbcType=INTEGER},
      </if>
      <if test="overScore != null" >
        #{overScore,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qihang.pojo.Programmer" >
    update programmer
    <set >
      <if test="pPassword != null" >
        p_password = #{pPassword,jdbcType=VARCHAR},
      </if>
      <if test="pName != null" >
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pSex != null" >
        p_sex = #{pSex,jdbcType=VARCHAR},
      </if>
      <if test="pAge != null" >
        p_age = #{pAge,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=INTEGER},
      </if>
      <if test="pPhone != null" >
        p_phone = #{pPhone,jdbcType=VARCHAR},
      </if>
      <if test="pEamil != null" >
        p_email = #{pEmail,jdbcType=VARCHAR},
      </if>
      <if test="hoursalary != null" >
        hoursalary = #{hoursalary,jdbcType=DECIMAL},
      </if>
      <if test="workField != null" >
        work_field = #{workField,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null" >
        work_experience = #{workExperience,jdbcType=INTEGER},
      </if>
      <if test="overScore != null" >
        over_score = #{overScore,jdbcType=DECIMAL},
      </if>
    </set>
    where p_id = #{pId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qihang.pojo.Programmer" >
    update programmer
    set p_password = #{pPassword,jdbcType=VARCHAR},
      p_name = #{pName,jdbcType=VARCHAR},
      p_sex = #{pSex,jdbcType=VARCHAR},
      p_age = #{pAge,jdbcType=INTEGER},
      education = #{education,jdbcType=INTEGER},
      p_phone = #{pPhone,jdbcType=VARCHAR},
      p_email = #{pEmail,jdbcType=VARCHAR},
      hoursalary = #{hoursalary,jdbcType=DECIMAL},
      work_field = #{workField,jdbcType=VARCHAR},
      work_experience = #{workExperience,jdbcType=INTEGER},
      over_score = #{overScore,jdbcType=DECIMAL}
    where p_id = #{pId,jdbcType=VARCHAR}
  </update>
  <update id="updateScore">
    UPDATE programmer
    set over_score = #{overScore}
    where p_id = #{pId,jdbcType=VARCHAR}
  </update>
</mapper>